/* Bubbles DESIGN */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Josefin Sans', sans-serif;
}

body {
	min-height: 100vh;
	background: #0c192c;
}

.container {
	position: relative;
	width: 100vh;
	height: 100vh;
	overflow: hidden;
}

.bubbles {
	position: relative;
	display: flex;
}

.bubbles span {
	position: relative;
	width: 30px;
	height: 30px;
	background: #4fc3dc;
	margin: 0 4 px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #4fc3dc44, 
	0 0 50px #4fc3dc, 
	0 0 100px #4fc3dc;
	animation: animate 15s linear infinite;
	animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
	background: #ff2d75;
	box-shadow: 0 0 0 10px #ff2d7544,
	0 0 50px #ff2d75,
	0 0 100px #ff2d75;
}

@keyframes animate {
	0%
	{
		transform: translateY(100vh) scale(0) ;
	}
	100%
	{
		transform: translateY(-10vh) scale(1) ;
	}
}

/* SLIDEBAR DESIGN */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #4fc3dc);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #ff2d75);
}

/* CONTENT */
.hero{
	height: 100vh;
	width: 100%;
	background-position: center;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

span{
	color: #f9004d;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}

.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}

.btn:hover{
	transform: scale(1.2);
}

.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}

h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 65px;
}

h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}

h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}